body {
    font-family: "sans", sans-serif;
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 156px;
    margin: 1px auto;
}

.cell {
    background-color: lightslategray;
    font-family: "sans serif";
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 1px white;
    border: 1px solid white;
    cursor: pointer;
    line-height: 50px;
    font-size: 30px;
}

.cell:hover {
    background-color: lightpink;
    font-family: "sans serif";
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 1px white;
    border: 1px solid white;
    cursor: pointer;
    line-height: 50px;
    font-size: 30px;
}